.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  width: 90%;
  max-width: 960px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Тінь трохи більша */
  background-color: #000; /* Чорний фон для кращого контрасту */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
}

p {
  margin-bottom: 20px;
  color: #fff; /* Білий текст для контрасту */
  text-align: center;
  max-height: 80px;
  overflow-y: auto; /* Додаємо прокрутку при потребі */
}

img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Обмеження висоти зображення */
  object-fit: contain; /* Збереження пропорцій зображення */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для зображення */
}

.btn {
  border-radius: 50%;
  border: none;
  width: 40px; /* Трохи більша кнопка для зручності */
  height: 40px;
  font-size: 1.4em; /* Збільшений шрифт */
  font-weight: 700;
  background-color: #333; /* Темно-сірий фон */
  color: #fff; /* Білий текст */
  cursor: pointer;
  position: absolute;
  top: 15px; /* Трохи більші відступи */
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s; /* Додано перехід для масштабування */
}

.btn:hover {
  background-color: #646cff; /* Зміна кольору при наведенні */
  transform: scale(1.1); /* Трохи збільшуємо кнопку при наведенні */
}

.btn:focus {
  outline: 4px auto -webkit-focus-ring-color; /* Додаємо фокусну рамку для доступності */
}
